<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <img src="https://global-uploads.webflow.com/5eb989c097db392db4e01796/5f2daaffb270261c9140e6e4_Cart-Icon-V3-256x256.png" height="70px" width="100px">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link"  routerLink=""  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="menu" routerLinkActive="active-link">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="active-link">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact" routerLinkActive="active-link">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="gallery" routerLinkActive="active-link">Gallery</a>
        </li>
      </ul>
    </div>
  </div>
</nav>