.product{
    padding: 40px 0;

}

.box{
    padding: 20px;
    border: 1px solid black;
    border-radius: 4px;
}
.content h2{
    margin-top: 10px;
}
.btn{
    background: rgba(94, 0, 0);
    border-radius: 50px;
    font-size: 16px;
    color: #fff;
    margin: 0 8px;
}
.content span{
    font-weight: 800;
    font-size: 18px;
}
.cart-btn{
    border-radius:4px ;
    background: rgba(94, 0, 0);
    border: 1px solid rgba(94, 0, 0);
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    margin-top: 20px;
    border: none;
    padding: 4px 16px;
    transition: 0.4s;
    text-transform: uppercase;
}
.cart-btn:hover{
    color: rgba(94, 0, 0);
    background: transparent;
    border: 1px solid rgba(94, 0, 0);
}
