<section class="product">
    <h2 style="text-align:center">Special Menu offer of T-shirt</h2><br/>
   <div class="container text-center">
       <div class="row">
           <div class="col-md-3">
              <div class="box">
                  <div class="product-image">
                      <img src="https://media.istockphoto.com/photos/blank-black-tshirt-front-with-clipping-path-picture-id483960103?b=1&k=20&m=483960103&s=170667a&w=0&h=hNKNseCmaThTsh4i7Q3kHETlWo5Zi7Ogw-luVozfP_M=" alt="tshirt" height="190px" width="160px"/>
                  </div>
                  <div class="content">
                    <h2>₹ 400</h2>
                    <button type="button" class="btn" (click)="handleIncrease()">+</button>
                    <span>{{count}}</span>
                    <button type="button" class="btn" (click)="handleDecrease()">-</button>
                  </div>
                  <button type="button" class="cart-btn">Add To Cart</button>
              </div>
           </div>
           <div class="col-md-3">
            <div class="box">
                <div class="product-image">
                    <img src="https://cdn.pixabay.com/photo/2016/12/06/09/31/blank-1886008__340.png" alt="tshirt" height="190px" width="160px"/>
                </div>
                <div class="content">
                  <h2>₹ 400</h2>
                  <button type="button" class="btn" (click)="handleIncrease()">+</button>
                  <span>{{count}}</span>
                  <button type="button" class="btn" (click)="handleDecrease()">-</button>
                </div>
                <button type="button" class="cart-btn">Add To Cart</button>
            </div>
           </div>
           <div class="col-md-3">
            <div class="box">
                <div class="product-image">
                    <img src="https://m.media-amazon.com/images/I/51kmj7UCNDL._UX569_.jpg" alt="tshirt" height="190px" width="160px"/>
                </div>
                <div class="content">
                  <h2>₹ 400</h2>
                  <button type="button" class="btn" (click)="handleIncrease()">+</button>
                  <span>{{count}}</span>
                  <button type="button" class="btn" (click)="handleDecrease()">-</button>
                </div>
                <button type="button" class="cart-btn">Add To Cart</button>
            </div>
           </div>
           <div class="col-md-3">
            <div class="box">
                <div class="product-image">
                    <img src="https://5.imimg.com/data5/SH/GC/MY-8764775/mens-t-shirt-500x500.jpg" alt="tshirt" height="190px" width="160px"/>
                </div>
                <div class="content">
                  <h2>₹ 400</h2>
                  <button type="button" class="btn" (click)="handleIncrease()">+</button>
                  <span>{{count}}</span>
                  <button type="button" class="btn" (click)="handleDecrease()">-</button>
                </div>
                <button type="button" class="cart-btn">Add To Cart</button>
            </div>
           </div>
       </div>

       <br/>
       <div class="row">
        <div class="col-md-3">
           <div class="box">
               <div class="product-image">
                   <img src="https://media.gq.com/photos/5ffcc94c228d156e9cc8b2de/master/w_2000,h_1333,c_limit/Gildan-heavy-cotton-T-shirt.jpg" alt="tshirt" height="150px" width="190px"/>
               </div>
               <div class="content">
                 <h2>₹ 400</h2>
                 <button type="button" class="btn" (click)="handleIncrease()">+</button>
                 <span>{{count}}</span>
                 <button type="button" class="btn" (click)="handleDecrease()">-</button>
               </div>
               <button type="button" class="cart-btn">Add To Cart</button>
           </div>
        </div>
        <div class="col-md-3">
         <div class="box">
             <div class="product-image">
                 <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiOc5pXv7ux_F0vHepOncg98DWM-tKbxpZzg&usqp=CAU" alt="tshirt" height="190px" width="160px"/>
             </div>
             <div class="content">
               <h2>₹ 400</h2>
               <button type="button" class="btn" (click)="handleIncrease()">+</button>
               <span>{{count}}</span>
               <button type="button" class="btn" (click)="handleDecrease()">-</button>
             </div>
             <button type="button" class="cart-btn">Add To Cart</button>
         </div>
        </div>
        <div class="col-md-3">
         <div class="box">
             <div class="product-image">
                 <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRefbb2X8fu8TdTqN6NjslEMo-86f0wkwtrV5cp55UGepDyYnI_B-UKE5K61NI9sSdYrdw&usqp=CAU" alt="tshirt" height="190px" width="160px"/>
             </div>
             <div class="content">
               <h2>₹ 400</h2>
               <button type="button" class="btn" (click)="handleIncrease()">+</button>
               <span>{{count}}</span>
               <button type="button" class="btn" (click)="handleDecrease()">-</button>
             </div>
             <button type="button" class="cart-btn">Add To Cart</button>
         </div>
        </div>
        <div class="col-md-3">
         <div class="box">
             <div class="product-image">
                 <img src="https://imgs.michaels.com/MAM/assets/1/726D45CA1C364650A39CD1B336F03305/img/91F89859AE004153A24E7852F8666F0F/10093625_r.jpg?fit=inside|540:540" alt="tshirt" height="190px" width="160px"/>
             </div>
             <div class="content">
               <h2>₹ 400</h2>
               <button type="button" class="btn" (click)="handleIncrease()">+</button>
               <span>{{count}}</span>
               <button type="button" class="btn" (click)="handleDecrease()">-</button>
             </div>
             <button type="button" class="cart-btn">Add To Cart</button>
         </div>
        </div>
    </div>


    <br/>
    <div class="row">
        <div class="col-md-3">
           <div class="box">
               <div class="product-image">
                   <img src="https://5.imimg.com/data5/OC/RT/YN/SELLER-18835191/corporate-t-shirts-logo-500x500.jpg" alt="tshirt" height="190px" width="160px"/>
               </div>
               <div class="content">
                 <h2>₹ 400</h2>
                 <button type="button" class="btn" (click)="handleIncrease()">+</button>
                 <span>{{count}}</span>
                 <button type="button" class="btn" (click)="handleDecrease()">-</button>
               </div>
               <button type="button" class="cart-btn">Add To Cart</button>
           </div>
        </div>
        <div class="col-md-3">
         <div class="box">
             <div class="product-image">
                 <img src="https://media.istockphoto.com/photos/blank-black-tshirt-front-with-clipping-path-picture-id483960103?b=1&k=20&m=483960103&s=170667a&w=0&h=hNKNseCmaThTsh4i7Q3kHETlWo5Zi7Ogw-luVozfP_M=" alt="tshirt" height="190px" width="160px"/>
             </div>
             <div class="content">
               <h2>₹ 400</h2>
               <button type="button" class="btn" (click)="handleIncrease()">+</button>
               <span>{{count}}</span>
               <button type="button" class="btn" (click)="handleDecrease()">-</button>
             </div>
             <button type="button" class="cart-btn">Add To Cart</button>
         </div>
        </div>
        <div class="col-md-3">
         <div class="box">
             <div class="product-image">
                 <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfawJpCCsCu5p6DY1Wj24kKDCncalwzjvBlC8H9kCwcuNjlfwjjJ4HYkosbQnwO7AYcWI&usqp=CAU" alt="tshirt" height="190px" width="160px"/>
             </div>
             <div class="content">
               <h2>₹ 400</h2>
               <button type="button" class="btn" (click)="handleIncrease()">+</button>
               <span>{{count}}</span>
               <button type="button" class="btn" (click)="handleDecrease()">-</button>
             </div>
             <button type="button" class="cart-btn">Add To Cart</button>
         </div>
        </div>
        <div class="col-md-3">
         <div class="box">
             <div class="product-image">
                 <img src="https://src1.ilogo.in/new_upload/2021/2610/16352210271621582351787411/1635238183/front_design_idea.webp" alt="tshirt" height="190px" width="160px"/>
             </div>
             <div class="content">
               <h2>₹ 400</h2>
               <button type="button" class="btn" (click)="handleIncrease()">+</button>
               <span>{{count}}</span>
               <button type="button" class="btn" (click)="handleDecrease()">-</button>
             </div>
             <button type="button" class="cart-btn">Add To Cart</button>
         </div>
        </div>
    </div>
   </div>
</section>