 <!-- SLIDER -->
 <section id="main">
  <div id="Carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#Carousel" data-slide-to="0" class="active"></li>
      <li data-target="#Carousel" data-slide-to="1"></li>
      <li data-target="#Carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item carousel-image-1 active">
        <div class="container">
          <div class="carousel-caption d-none d-sm-block text-right mb-5">
            <h1 class="display-3 h-color">Heading One</h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, aperiam vel ullam deleniti reiciendis ratione quod aliquid inventore vero perspiciatis.</p>
            <button routerLink="signup" class="button" role="button" routerLinkActive="active-link">Sign Up Now</button>
          </div>
        </div>
      </div>

      <div class="carousel-item carousel-image-2">
        <div class="container">
          <div class="carousel-caption d-none d-sm-block mb-5">
            <h1 class="display-3 h-color">Heading Two</h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, aperiam vel ullam deleniti reiciendis ratione
              quod aliquid inventore vero perspiciatis.</p>
            <a href="#" class="btn btn-color slide-btn btn-lg">Learn More</a>
          </div>
        </div>
      </div>

      <div class="carousel-item carousel-image-3">
        <div class="container">
          <div class="carousel-caption d-none d-sm-block text-right mb-5">
            <h1 class="display-3 h-color">Heading Three</h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, aperiam vel ullam deleniti reiciendis ratione
              quod aliquid inventore vero perspiciatis.</p>
            <a href="#" class="btn btn-color slide-btn btn-lg">Learn More</a>
          </div>
        </div>
      </div>
    </div>

    <a href="#Carousel" data-slide="prev" class="carousel-control-prev">
      <span class="carousel-control-prev-icon"></span>
    </a>

    <a href="#Carousel" data-slide="next" class="carousel-control-next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</section>
<!--End of slider-->


  
  
  <br/>


  <!---About Section=====-->
<section id="about-sec">
  <div class="container">
   <div class="row align-items-center">
     <div class="col-lg-5 text-center">
       <img src="https://images.businessnewsdaily.com/app/uploads/2022/04/04073619/how-ecommerce-works.png" width="450" height="150" 
       class="img-fluid watch-img">
     </div>
     <div class="col-lg-7 text-lg-right  text-center text-color about-text">
       <h1 >About Company</h1>
       <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing 
         elit. Perferendis itaque sequi facere deleniti 
         repellat minima doloribus nostrum consectetur enim 
         accusantium.</p>
         <!-- HTML !-->
        <button class="button" role="button" routerLink="about">Show More</button>
     </div>
   </div>
   </div>
   </section>
   <!---End of About Section---->

   <br/>
<!-- Product section -->
<section id="products" class="products py-5">
<div class="container">
<!-- section title -->
<div class="row">
  <div class="col-10 mx-auto col-sm-6 text-center">
    <h1 class="text-capitalize product-title">Featured Products</h1>
  </div>
</div>
<!-- end section title -->
 <!-- Product items -->
<div class="row product-items" id="product-items">
 
 
  <!-- single items -->
  <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3">
    <div class="card single-item">
      <div class="img-container">
        <img src="https://images.unsplash.com/photo-1581591524425-c7e0978865fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="card-img-top product-img" alt="">
      </div>
      <div class="card-body">
        <div class="card-text d-flex justify-content-between text-capitalize">
          <h5 id="item-name"> Photography & Camera Items</h5>
          <span><i class="fas fa-dollar-sign"></i>₹650</span>
        </div>
      </div>
    </div>
  </div>
  <!-- end of single item -->
  <!-- single items -->
  <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3">
    <div class="card single-item">
      <div class="img-container">
        <img src="https://images.unsplash.com/photo-1644982648791-a010e61aa845?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="card-img-top product-img" alt="">
       </div>
      <div class="card-body">
        <div class="card-text d-flex justify-content-between text-capitalize">
          <h5 id="item-name">Latest Mobile phones </h5>
          <span><i class="fas fa-dollar-sign"></i>₹750</span>
        </div>
      </div>
    </div>
  </div>
  <!-- end of single item -->
  <!-- single items -->
  <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3">
    <div class="card single-item">
      <div class="img-container">
        <img src="https://images.unsplash.com/photo-1600634999623-864991678406?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="card-img-top product-img" alt="">
       </div>
      <div class="card-body">
        <div class="card-text d-flex justify-content-between text-capitalize">
          <h5 id="item-name">Natural Makeup products</h5>
          <span><i class="fas fa-dollar-sign"></i>₹850</span>
        </div>
      </div>
    </div>
  </div>
  <!-- end of single item -->
  <!-- single items -->
  <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3">
    <div class="card single-item">
      <div class="img-container">
        <img src="https://images.unsplash.com/photo-1567401893414-76b7b1e5a7a5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="card-img-top product-img" alt="">
        </div>
      <div class="card-body">
        <div class="card-text d-flex justify-content-between text-capitalize">
          <h5 id="item-name"> Stylish Ladies Dresses</h5>
          <span><i class="fas fa-dollar-sign"></i>₹950</span>
        </div>
      </div>
    </div>
  </div>
  <!-- end of single item -->
  <!-- single items -->
  <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3">
    <div class="card single-item">
      <div class="img-container">
        <img src="https://images.unsplash.com/photo-1612815154858-60aa4c59eaa6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="card-img-top product-img" alt="">
        </div>
      <div class="card-body">
        <div class="card-text d-flex justify-content-between text-capitalize">
          <h5 id="store-item-name">HP Printer with Scanner</h5>
          <span><i class="fas fa-dollar-sign"></i>₹350</span>
        </div>
      </div>
    </div>
  </div>
  <!-- end of single item -->
  <!-- single items -->
  <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3">
    <div class="card single-item">
      <div class="img-container">
        <img src="https://images.unsplash.com/photo-1575024357670-2b5164f470c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="card-img-top product-img" alt="">
    </div>
      <div class="card-body">
        <div class="card-text d-flex justify-content-between text-capitalize">
          <h5 id="item-name"> Latest laptop & Computer</h5>
          <span><i class="fas fa-dollar-sign"></i>₹350</span>
        </div>
      </div>
    </div>
  </div>
  <!-- end of single item -->
  <!-- single items -->
  <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3">
    <div class="card single-item">
      <div class="img-container">
        <img src="https://images.unsplash.com/photo-1505740420928-5e560c06d30e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"  class="card-img-top product-img" alt="">
      </div>
      <div class="card-body">
        <div class="card-text d-flex justify-content-between text-capitalize">
          <h5 id="item-name">Bluetooth Headphones</h5>
          <span><i class="fas fa-dollar-sign"></i>₹750</span>
       </div>
      </div>
    </div>
  </div>
  <!-- end of single item -->
  <!-- single items -->
  <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3">
    <div class="card single-item">
      <div class="img-container">
        <img src="https://images.unsplash.com/photo-1575537302964-96cd47c06b1b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="card-img-top product-img" alt="">
                  </div>
      <div class="card-body">
        <div class="card-text d-flex justify-content-between text-capitalize">
          <h5 id="item-name">Men's Footware</h5>
          <span><i class="fas fa-dollar-sign"></i>₹850</span>

        </div>
      </div>
    </div>
  </div>
  <!-- end of single item -->
  <!-- single items -->
  <div class="col-10 col-sm-6 col-lg-4 mx-auto my-3">
    <div class="card single-item">
      <div class="img-container">
        <img src="https://images.unsplash.com/photo-1523170335258-f5ed11844a49?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" class="card-img-top product-img" alt="">
    </div>
      <div class="card-body">
        <div class="card-text d-flex justify-content-between text-capitalize">
          <h5 id="item-name"> Branded Wrist Watch</h5>
          <span><i class="fas fa-dollar-sign"></i>₹550</span>
        </div>
      </div>
    </div>
  </div>
  <!-- end of single item -->
</div>
<!-- end of store items -->
</div>
</section>
<!-- end of store section -->
<!---End of Product Section===-->

  <!--Best Seller Products-->
  <section class="seller py-5">
    <div class="container">
      <!--Section title-->
      <div class="row mb-5">
        <div class="col d-flex flex-wrap text-uppercase justify-content-center">
          <h1 class="font-weight-bold align-self-center mx-1">
            Best Seller Products
          </h1>
        </div>
      </div>
      <!---End of Title-->
      <div class="row">
       <div class="col-sm-6 ">
          <div class="seller-item">
            <img src="https://cdn.caratlane.com/media/catalog/product/cache/6/image/480x480/9df78eab33525d08d6e5fb8d27136e95//J/R/JR03296-YGP600_11_listfront.jpg" alt="" class="img-fluid photo">
            <p>Lorem ipsum dolor sit amet.</p>
           </div>
        </div>
        <!--End of first column-->
        <div class="col-sm-6 d-flex flex-column justify-content-between">
          <div class="row">
            <!--first item-->
            <div class="col-sm-6">
              <div class="seller-item">
                <img src="https://cdn.shopify.com/s/files/1/0553/5422/8922/files/imags-2_400x.png?v=1633677513" alt="" class="img-fluid seller-img">
                
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </div>
            <!--End of 1st item-->
             <!--first item-->
             <div class="col-sm-6">
              <div class="seller-item">
                <img src="https://5.imimg.com/data5/TestImages/VJ/XP/VI/SELLER-45281882/unique-design-gold-tone-earring-500x500.jpg" alt="" class="img-fluid seller-img">
                
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </div>
            <!--End of 1st item-->       
          </div>
          <!--end of row-->
          <div class="row">
            <!--first item-->
            <div class="col-sm-6">
              <div class="seller-item">
                <img src="https://images.meesho.com/images/products/71833963/npdnk_512.jpg" alt="" class="img-fluid seller-img
                img-top">
                
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </div>
            <!--End of 1st item-->
             <!--first item-->
             <div class="col-sm-6">
              <div class="seller-item">
                <img src="http://cdn.shopify.com/s/files/1/0796/1959/products/antique-bangle-2-4-ruby-antique-bangle-136294-29926112493724_grande.jpg?v=1640377573" alt="" class="img-fluid seller-img
                img-top">
                
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </div>
            <!--End of 1st item-->       
          </div>
        </div>
      </div>
     </div> 
  </section>
  <!---End of Best Seller-->


  <!-- ======= Team Section ======= -->
<section id="team" class="team mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="section-title">
          <h2 style="text-align: center;">Team</h2>
          <p >Our Amazing hardworking and enthusiastic team.
            Our Amazing hardworking and enthusiastic team
          </p>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-6">
            <div class="member">
              <div class="image"><img src="https://www.scripps.org/sparkle-assets/seo_thumbnails/physicians/7066/facebook-8d3bb7f5dec74f4f261f6815975ae37c.jpg" 
                class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Jessica Chang</h4>
                <span> Executive Officer</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <div class="col-sm-2 mt-3 mb-3" class="social">
                  <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>
                  <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
                  <a href="#" target="_blank"><i class="bi bi-youtube"></i></a>
                  <a href="#" target="_blank"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member">
              <div class="image"><img src="https://www.scripps.org/sparkle-assets/seo_thumbnails/physicians/3782/facebook-8cc4add7a0dda4aeaf05d8a18f7318e0.jpg" 
                class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Jacqueline Chang</h4>
                <span>Medicine Department</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <div class="col-sm-2 mt-3 mb-3" class="social">
                  <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>
                  <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
                  <a href="#" target="_blank"><i class="bi bi-youtube"></i></a>
                  <a href="#" target="_blank"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

<!-- End Team Section -->


  <!--Contact us Section-->
   <!--Contact US-->
<section class="contact py-5">
  <div class="container">
      <h2 class="section-heading" style="text-align:center ;">Contact Us</h2>
      <form class="col-lg-6 offset-lg-3">
          <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" id="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
          <div class="form-group">
              <label for="name">Name</label>
              <input type="text" id="name" class="form-control" placeholder="Enter name">
          </div><br/>
          <div class="form-group">
              <label for="message">Message</label>
              <textarea class="form-control" id="message" placeholder="Type your message" row="5">
              
          </textarea>
          </div><br/>
          <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="check">
              <label class="form-check-label" for="check">Subscribe to newsletter</label>
          </div><br/>
          <div class="text-center">
              <button class="btn btn-lg btn-color cont-btn">Submit</button>
          </div><br/>
      </form>
  </div>
</section>
<!--End of Contact Section-->